* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 120px;
    background-color: rgb(23, 9, 57);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

nav a:hover,
nav a.active {
    color: wheat;
}

#menu-icon {
    font-size: 3.6rem;
    color: white;
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(43, 43, 108);
    color: white;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img {
    width: 30vw;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2.4rem);
    }

    100% {
        transform: translateY(0);
    }
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: rgb(32, 144, 209);
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    font-size: 1.6rem;
}

.Social-Media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid rgb(11, 122, 207);
    border-radius: 50%;
    font-size: 2rem;
    color: rgb(11, 122, 207);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.Social-Media a:hover {
    background: rgb(11, 122, 207);
    ;
    color: #0b7acf;
    ;
    box-shadow: 0 0 1rem rgb(11, 122, 207);

}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: rgb(11, 122, 207);
    border-radius: 4rem;
    box-shadow: 0 0 1rem rgb(11, 122, 207);
    font-size: 1.6rem;
    color: black;
    letter-spacing: .1rem;
    font-weight: 600;
}

.About {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: rgb(11, 122, 207);
}

.About-img img {
    width: 25vw;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.About-content h2 {
    text-align: left;
    line-height: 1.2;
}

.About-content h3 {
    font-size: 2.6rem;

}

.About-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.Skills h2 {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.Skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.Skills-container .Skills-Box {
    flex: 1 1 30rem;
    background: rgb(16, 16, 69);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid rgb(11, 122, 207);
    transition: .5s ease;
}

.Skills-container .Skills-Box:hover {
    border-color: rgb(11, 122, 207);
    transform: scale(1.02);
}

.Skills-Box i {
    font-size: 7rem;
    color: rgb(11, 122, 207);
}

.Skills-Box h3 {
    font-size: 2.6rem;
}

.Skills-Box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.Contact h2 {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100vh;

}

.Contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.Contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Contact form .input-box input,
.Contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: rgb(16, 16, 69);
    ;
    background: rgb(16, 16, 69);
    ;
    border-radius: .8rem;
    margin: .7rem 0;
}

.Contact form .input-box input {
    width: 49%;
}

.Contact form textarea {
    resize: none;
}

.Contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: rgb(16, 16, 69);
}

.footer-text p {
    font-size: 1.6rem;
    text-align: center;
    color: white;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: rgb(11, 122, 207);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem rgb(11, 122, 207);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: white;
}

section:nth-child(odd) {
    background-color: rgb(16, 16, 69);
}

/* BREAKPOINTS */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .Skills {
        padding-bottom: 7rem;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width:768) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: rgb(23, 9, 57);
        border-top: .1rem solid rgb(23, 9, 57);
        box-shadow: 0 .5rem 1rem rgb(23, 9, 57);
        display: none;
    }

    .navbar .active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;

    }

    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 70vw;
        margin-bottom: 4rem;
    }

    .About {
        flex-direction: column-reverse;
    }

    .About-img {
        width: 70vw;
        margin-top: 4rem;
    }

    .Skills h2 {
        margin-bottom: 3rem;
    }

    .project h2 {
        margin-bottom: 3rem;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .Contact form .input-box input {
        width: 100%;
    }
}

@media (max-width: 365px) {
    .home-img img {
        width: 90vw;
    }

    .about-img img {
        width: 90vw;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}